@import "../../index.scss";

.upload_container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width:700px){
    height: 14rem;
}
  .add_post_img {
    position: absolute;
    width: 14.5rem;
    right: 3rem;
    bottom: -0.8rem;
    @media(max-width:700px){
        display: none;
    }
  }
  .left_box,
  .right_box {
    position: absolute;
    background-color: #c08c5d1a;
    border-radius: 1rem;
    outline: 10px solid #c08c5d1a;
    border: 10px solid #ffffff;
  }
  .left_box {
    left: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
  }
  .right_box {
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 4rem;
  }
  .button_box {
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    background-color: #c08c5d;
    .upload_btn {
      @include buttonStyles(auto, 22rem);
      color: #ffffff;
      background-color: #c08c5d;
      padding-block: 0.8rem;
      @media(max-width:700px){
        @include buttonStyles(auto, auto);
        padding-inline: 3rem !important;
      }
    }
    &:hover,
    .upload_btn:hover {
      background-color: #926945;
    }
    &,
    .upload_btn {
      @include animate(#c08c5d, #8d6b4dd3);
      animation: buttonAnimation 2s infinite ease-in;
    }
    div {
      position: absolute;
      height: 15rem;
      border: solid 3px #cf796c;
      border-color: #cf796c transparent transparent transparent;
      border-radius: 50%/80px 100px 0 0;
      transform: rotate(45deg);
      &:first-of-type {
        border-radius: 50%/50px 50px 0 0;
        width: 4rem;
        top: -2.5rem;
        right: 3rem;
      }
      &:last-of-type {
        border-radius: 50%/40px 40px 0 0;
        width: 3rem;
        top: -3.2rem;
        right: 2.8rem;
      }
    }
  }
}
