@mixin buttonStyles($maxWidth, $width) {
  padding: 0.5rem 2rem;
  text-transform: capitalize;
  border: none;
  border-radius: 1.5rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  font-weight: 500;
  max-width: $maxWidth;
  min-width: $width;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 50%;
  }
  span {
    margin-left: 0.6rem;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}

@mixin animate($color1, $color2) {
  @keyframes buttonAnimation {
    0% {
      background-color: $color1;
    }
    50% {
      background-color: $color2;
    }
    100% {
      background-color: $color1;
    }
  }
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 90%;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #e7ad99;
  border-radius: 1rem;
}

.primary_btn {
  @include buttonStyles(9rem, auto);
  background-color: #e7ad99;
  color: #ffffff;
  &:hover {
    background-color: #be8f7f;
  }
}

.secondary_btn {
  @include buttonStyles(auto, auto);
  background-color: #ffffff;
  border: 1px solid #e7ad99 !important;
  color: #cf796c;
  border-radius: 0.5rem;
  padding: 0.3rem 1.5rem;
  &:hover {
    background-color: #e7ad99;
    color: #ffffff;
  }
}
