.comment {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  &_head {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    .profile_img_side {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
      span {
        font-weight: 500;
      }
      small {
        color: #0000004d;
        font-size: 0.7rem;
      }
    }
    .three_dots_icon {
      color: #485867;
      cursor: pointer;
    }
  }
  &_text {
    font-size: 0.8rem;
    margin-top: -0.4rem;
    margin-left: 3rem;
    padding: 1rem;
    border-radius: 0 2rem 2rem 2rem;
    background-color: #ecc8ae7a;
  }
  .user_reply_comment {
    margin-top: 0.5rem;
    margin-left: 3rem;
  }
}
