.comments_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  position: relative;
  .comments_input_box_container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #ffffff;
    border-radius: 2rem;
    font-size: 0.9rem;
    .comment_input_box {
      border-radius: 2rem;
      display: flex;
      gap: 0.3rem;
      background-color: #ecc8ae4d;
      padding: 0.3rem;
      justify-content: space-between;
      align-items: center;
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
      input {
        border-radius: 2rem;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        font-size: 0.8rem;
      }
      .send_btn {
        background-color: transparent;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        color: #cf796c;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }
  .comments_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f3f3f3;
    padding: 1rem 3rem;
    border-radius: 1rem;
    @media (max-width: 900px) {
      padding: 1rem;
    }
  }
}
