.main_div {
  padding: 1rem 3rem;
  @media (max-width: 600px) {
    padding: 1rem 2rem;
  }
  .add_button {
    position: fixed;
    right: 4rem;
    top:50%;
    background-color: #485867;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 10;
    .add_icon {
      color: #ffffff;
      font-size: 2rem;
    }
  }
}
